<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAccountManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILoginManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMultiplayerManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IHeartBeat">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountManager1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILoginManager1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMultiplayerManager1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IHeartBeat1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManager1"
                contract="LismanService.IAccountManager" name="NetTcpBinding_IAccountManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManager1"
                contract="LismanService.IGameManager" name="NetTcpBinding_IGameManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatManager1"
                contract="LismanService.IChatManager" name="NetTcpBinding_IChatManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginManager1"
                contract="LismanService.ILoginManager" name="NetTcpBinding_ILoginManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMultiplayerManager1"
                contract="LismanService.IMultiplayerManager" name="NetTcpBinding_IMultiplayerManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHeartBeat1"
                contract="LismanService.IHeartBeat" name="NetTcpBinding_IHeartBeat" />
        </client>
    </system.serviceModel>
</configuration>