@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Victor Niño<br />
    Estudiante Ingeniero de Software<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<address>
    Alan González<br />
    Estudiante Ingeniero de Software<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>