@{
    ViewBag.Title = "";
}

<style>
    .div_banner{
        background-color: yellow;
    }
</style>
<div class="jumbotron div_banner">
    <h1 class="p-3 mb-2 "> L I S M A N</h1>
    <p class="lead">Un viejo clásico con nueva vida</p>
</div>

<div class="row">
    
</div>