<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAccountManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILoginManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMultiplayerManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IHeartBeat">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManager"
                contract="LismanService.IAccountManager" name="NetTcpBinding_IAccountManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManager"
                contract="LismanService.IGameManager" name="NetTcpBinding_IGameManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatManager"
                contract="LismanService.IChatManager" name="NetTcpBinding_IChatManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginManager"
                contract="LismanService.ILoginManager" name="NetTcpBinding_ILoginManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMultiplayerManager"
                contract="LismanService.IMultiplayerManager" name="NetTcpBinding_IMultiplayerManager" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHeartBeat"
                contract="LismanService.IHeartBeat" name="NetTcpBinding_IHeartBeat" />
        </client>
    </system.serviceModel>
</configuration>